# Java build directories
/target/
/out/
/bin/
/build/

# Maven wrapper
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
/*.iml

# VSCode
.vscode/

# AWS Lambda files
.aws-sam-cli-local/
.aws-sam/
.aws/

# Log files
*.log

# Java class files
*.class

# Eclipse project files
.project
.classpath

# Temporary files
*.tmp
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# AWS credentials (not recommended to commit them)
.aws/credentials

# Environment variable files
.env

# Package manager logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Dependency directories
node_modules/

# Maven local repository (optional, but generally should be ignored)
.m2/
